* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #EEEEEE;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.nav {
	margin: auto;
	width: 1500px;
	height: 40px;
}

.nav_left {
	width: 1100px;
	height: 40px;
	float: left;
}

.nav_left ul {
	margin-left: 94px;
}

.nav_left ul li {
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 14px;
	font-weight: 700;
}

.nav_left ul li a {
	color: #990000;
}

.nav_left ul li a:hover {
	color: #000000;
}

.nav_right {
	width: 400px;
	height: 40px;
	float: left;
}

.nav_right ul {
	margin-left: -10px;
}

.nav_right ul li {
	width: 80px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 14px;
	font-weight: 700;
}

.nav_right ul li a {
	color: #000000;
}

.nav_right ul li a:hover {
	color: #990000;
}

.header {
	margin: auto;
	width: 100%;
	height: 450px;
	background-color: #FDBAC1;
}

.header_zhong {
	margin: 0px;
	padding: 0px;
	width: 1300px;
	height: 450px;
	margin: auto;
	position: relative;
	background-image: url(../imgs/beijing.jpg);
	background-repeat: no-repeat;
}

.header_zhong h3 {
	font-size: 18px;
	position: absolute;
	top: 24px;
}

.header_zhong p {
	font-size: 18px;
	border-bottom: 2px solid black;
	padding-bottom: 4px;
	font-weight: bold;
	position: absolute;
	font-family: "Î¢ÈíÑÅºÚ";
	top: 24px;
	right: 340px;
}

.erji {
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	top: 24px;
	right: 210px;
	height: 30px;
}

.erji a {
	color: #000000;
}

.denglu {
	width: 460px;
	height: 285px;
	position: absolute;
	top: 175px;
	right: 0px;
	border-radius: 5px 5px 5px 5px;
	background-color: #FFFFFF;
}

.denglu_up {
	width: 460px;
	height: 140px;
	float: left;
}

.denglu_up ul li {
	margin-top: 25px;
	margin-left: 25px;
	display: block;
	float: left;
	font-size: 14px;
}

.denglu_up h2 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 35px;
}

.denglu_down {
	width: 460px;
	height: 145px;
	float: left;
}

.denglu_down ul li {
	width: 110px;
	height: 140px;
	display: block;
	float: left;
	margin-left: 5px;
}

.denglu_down img {
	display: block;
	margin: 20px auto;
}

.denglu_down h5 {
	margin: 10px auto;
	text-align: center;
	font-size: 15px;
}

.denglu_down h4 {
	margin: auto;
	text-align: center;
	font-size: 30px;
}

.denglu_down a {
	color: #000000;
}

.dibu {
	width: 100%;
	height: 180px;
	background-color: #FDBAC1;
	margin: auto;
}

.dibu h3 {
	font-size: 30px;
	font-family: "Î¢ÈíÑÅºÚ";
	text-align: center;
	line-height: 180px;
}
.img_tou {
	width: 20px;
	height: 20px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	float: left;
	margin-top: 10px;
	box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 2px;
}

.img_denglv {
	width: 90px;
	height: 90px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 2px;
}